.container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 90px;
  height: 90px;
}

.home-icon {
  font-size: 45px;
}
